# === System Requirements ===
EXPECTED_UBUNTU_VERSION="22.04"

# === Github Identity ===
GITHUB_USER="rutabageldev"
GITHUB_EMAIL="rutabageldev@gmail.com"

# === Git Repos ===
DEV_SETUP_REP_SSH="git@github.com:rutabageldev/dev-setup.git"
DOCS_REPO_SSH="git@github.com:rutabageldevl/homelab-documentation.git"

# === Filesystem Layout ===
PROJECTS_DIR="$HOME/dev/projects"
DOCUMENTATION_DIR="$HOME/dev/documentation"
REPOS_DIR="$HOME/dev/repos"

# === Optional Overrides ===
# passphrase will be prompted interactively
# Set to "true" to skip SSH key generation if it already exists
SKIP_SSH_KEYGEN="false"