# === System Requirements ===
EXPECTED_UBUNTU_VERSION="22.04"

# === Github Identity ===
GITHUB_USER="rutabageldev"
GITHUB_EMAIL="rutabageldev@gmail.com"

# === Git Repos ===
DEV_SETUP_REPO_SSH="git@github.com:rutabageldev/dev-setup.git"
DOCS_REPO_SSH="git@github.com:rutabageldev/homelab-documentation.git"

# === Filesystem Layout ===
PROJECTS_DIR="$HOME/dev/projects"
DOCUMENTATION_DIR="$HOME/dev/documentation"
REPOS_DIR="$HOME/dev/repos"

# === Optional Overrides ===
# passphrase will be prompted interactively

# Configurable path to dev-setup bootstrap
DEV_SETUP_BOOTSTRAP_PATH="$PROJECTS_DIR/dev-setup/scripts/bootstrap.sh"
# Reclone repos even if directories already exist
FORCE_RECLONE="true"
# Max tries to establish Github SSH connection
GITHUB_SSH_RETRIES="3"
# toggle install for ZSH CLI
INSTALL_ZSH="true"
LOG_FILE="$HOME/bootstrap.log"
# Set to "true" to skip SSH key generation if it already exists
SKIP_SSH_KEYGEN="false"